*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: aqua;
    padding: 10px 40px;
    display: grid;
    grid-template-rows: 10% 30% 30% 30%;
}
nav{
    background-color: rgb(0, 255, 13);
}
nav ul{
    display: flex;
    list-style: none;
}
header{background-color: blue;}
.center{background-color: brown;}
footer{background-color: blueviolet;}