
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #DAB2A7;
  font-family: "Josefin Sans", sans-serif;
}
main {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  padding: 10px 40px 0 40px;
  display: grid;
  grid-template-rows: 10% 30% 30% 30%;
}
nav {
    /* background-color: rgb(0, 255, 13); */
    justify-self: flex-end;
    align-items: center;
}
nav ul {
    width: 70vw;
    height: 7vh;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: end;
  padding-right: 20px;
}
nav ul li{
    margin: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
}
nav ul:nth-child(-n + 3){
    padding-top: 2px;
}
nav ul li:nth-child(-n + 3):hover{
    text-decoration: underline;
}
nav ul li:last-child:hover{
    scale: 1.1;
}
.cart{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #0f0f0f;
    position: relative;
}
.cart i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    color: #fce0d9;
}
header h1{
    white-space: pre-line;
    font-size: 3.4rem;
    line-height: 1;
    font-weight: 500;
    padding-left: 10px;
}
.center {
  /* background-color: brown; */
  display: grid;
  grid-template-columns: 50% 50%;
}
.left {
    /* background-color: blanchedalmond; */
}
.left p{
    white-space: pre-line;
    padding: 10px;
    line-height: 1.4;
    font-size: 1rem;
}
.right {
    /* background-color: violet; */
    justify-self: flex-end;
    align-self: center;
}
.right span{
    display: inline-block;
    width: 16vw;
    height: 2px;
    background-color: #0f0f0f;
}
.right h4{
    font-weight: 500;
    cursor: pointer;
    padding-left: 3px;
}
h4:hover{
    text-decoration: underline;
}
.cartt{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cartt i{
    font-size: 1.4rem;
    z-index: 1;
    padding-right: 10px;
    position: absolute;
    right:  0%;
}
footer {
  /* background-color: blueviolet; */
}
footer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
    border-radius: 10px;
}